certifi==2021.10.8
chardet==3.0.4
contextlib2==0.6.0.post1
future==1.0.0
h5py==2.10.0
idna==2.7
importlib-resources==3.3.1
numpy==1.16.6
opencv-contrib-python==4.2.0.32
opencv-python==3.4.6.27
opencv-python-headless==4.2.0.32
openxc==0.15.0
pathlib2==2.3.7.post1
Pillow==6.2.2
protobuf==2.6.1
pyusb==1.0.0a3
requests==2.20.0
scandir==1.10.0
scipy==1.1.0
singledispatch==3.7.0
six==1.16.0
tqdm==4.64.1
typing==3.10.0.0
units==0.7
urllib3==1.24.3
zipp==1.2.0
